<!DOCTYPE html>
<html>
<head>
  <title>Chat</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if flash %>
    <div class="flash">
      <%= flash[:notice] %>
      <%= flash[:error] %>
    </div>
  <% end %>

  <div class="container well">
    <% if !session[:user_id].nil? %>
      <%= render :partial => "room/roommenu" %> 
    <% end %>

    <%= yield %>
  </div>

</body>
</html>
