<!DOCTYPE html>
<html>
<head>
  <title>Chat</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <div class="text-center">
      <div class="container well">
        <% if !session[:user_id].nil? %>
          <%= render :partial => "room/roommenu" %> 
        <% end %>

        <div class="flash">
          <% if flash[:notice] %>
              <div class="alert alert-notice">
                <%= flash[:notice] %>
              </div>
          <% end %>

          <% if flash[:error] %>
              <div class="alert alert-error">
                <%= flash[:error] %>
              </div>
          <% end %>
        </div>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
